/etc/ssmtp/ssmtp.conf
mailhub=mail:25
hostname=%MY_HOSTNAME%
FromLineOverride=YES

#SMTP_USE_TLS#UseTLS=%SMTP_USE_TLS%
#SMTP_USE_STARTTLS#UseSTARTTLS=%SMTP_USE_STARTTLS%
#SMTP_AUTH_USER#AuthUser=%SMTP_AUTH_USER%
#SMTP_AUTH_PASSWORD#AuthPass=%SMTP_AUTH_PASSWORD%
#SMTP_AUTH_METHOD#AuthMethod=%SMTP_AUTH_METHOD%
